<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd"
>
    <!--
    xml 配置模板。
    spring 配置文件参考
    https://docs.spring.io/spring/docs/5.2.6.RELEASE/spring-framework-reference/core.html#appendix
    https://docs.spring.io/spring/docs/5.2.6.RELEASE/spring-framework-reference/data-access.html#appendix
    -->

    <!--
    参考文档
    spring doc https://docs.spring.io/spring/docs/5.2.6.RELEASE/spring-framework-reference/
    spring api https://docs.spring.io/spring/docs/5.2.1.RELEASE/javadoc-api/
    -->

    <!-- TODO Spring mvc 启动流程 DispatcherServlet -->
    <!-- 扫描包 -->
    <context:component-scan base-package="org.example"/>

    <!-- TODO spring aop 动态代理机制，声明式动态代理 -->
    <aop:config>
        <aop:aspect ref="profiler">
            <aop:pointcut id="theExecutionOfSomePersonServiceMethod"
                          expression="execution(* x.y.service.PersonService.getPerson(String,int))
                and args(name, age)"/>
            <aop:around pointcut-ref="theExecutionOfSomePersonServiceMethod"
                        method="profile"/>
        </aop:aspect>
    </aop:config>
    <!-- TODO spring 申明式事务管理机制 -->
    <!-- 声明式事务，需要传入事务管理器 -->
    <tx:annotation-driven transaction-manager="txManager"/> <!-- a PlatformTransactionManager is still required -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- (this dependency is defined somewhere else) -->
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 或者使用相对路径，组装配置 -->
    <import resource="classpath:application-config/springmvc.template.xml"/>
</beans>