<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="${driver}"/>-->
<!--                <property name="url" value="${url}"/>-->
<!--                <property name="username" value="${username}"/>-->
<!--                <property name="password" value="${password}"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->

<!--    <settings>-->
<!--        <setting name="cacheEnabled" value="true"/>-->
<!--        <setting name="lazyLoadingEnabled" value="true"/>-->
<!--        <setting name="multipleResultSetsEnabled" value="true"/>-->
<!--        <setting name="useColumnLabel" value="true"/>-->
<!--        <setting name="useGeneratedKeys" value="true"/>-->
<!--        <setting name="autoMappingBehavior" value="PARTIAL"/>-->
<!--        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>-->
<!--        <setting name="defaultExecutorType" value="SIMPLE"/>-->
<!--        <setting name="defaultStatementTimeout" value="25"/>-->
<!--        <setting name="defaultFetchSize" value="100"/>-->
<!--        <setting name="safeRowBoundsEnabled" value="false"/>-->
<!--        <setting name="mapUnderscoreToCamelCase" value="false"/>-->
<!--        <setting name="localCacheScope" value="SESSION"/>-->
<!--        <setting name="jdbcTypeForNull" value="OTHER"/>-->
<!--        <setting name="lazyLoadTriggerMethods"-->
<!--                 value="equals,clone,hashCode,toString"/>-->
<!--    </settings>-->

<!--    <typeHandlers>-->
<!--        <typeHandler handler="top.clydezhou.lab.demo.mybatis.spring.config.mybatis.FlagEnumTypeHandler" javaType="top.clydezhou.lab.demo.mybatis.spring.entity.Flag"/>-->
<!--    </typeHandlers>-->

<!--    <mappers>-->
<!--        <mapper resource="org/mybatis/example/BlogMapper.xml"/>-->
<!--        <package name="top.clydezhou.lab.demo.mybatis.spring.mapper"/>-->
<!--    </mappers>-->

<!--    <typeAliases>-->
<!--        <typeAlias alias="Author" type="domain.blog.Author"/>-->
<!--        <typeAlias alias="Blog" type="domain.blog.Blog"/>-->
<!--        <typeAlias alias="Comment" type="domain.blog.Comment"/>-->
<!--        <typeAlias alias="Post" type="domain.blog.Post"/>-->
<!--        <typeAlias alias="Section" type="domain.blog.Section"/>-->
<!--        <typeAlias alias="Tag" type="domain.blog.Tag"/>-->
<!--    </typeAliases>-->

<!--    <typeAliases>-->
<!--        <package name="domain.blog"/>-->
<!--    </typeAliases>-->
</configuration>